<!DOCTYPE HTML>
<html class="animated fadeIn">
        <head>
                {% load static %}
        <title>Smart Cube| Home : </title>
        <link rel="icon" href="{% static 'accounts/images/Faithlife1.png' %}" type="image/gif" sizes="16x16">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" href="{% static 'accounts/images/Faithlife1.png' %}" type="image/gif" sizes="16x16">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css"/>
        <!-- Bootstrap Core CSS -->
        <link href="{% static 'accounts/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />

        <!-- Custom CSS -->
        <link href="{% static 'accounts/css/style.css' %}" rel='stylesheet' type='text/css' />

        <!-- font-awesome icons CSS -->
        <link href="{% static 'accounts/css/font-awesome.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <!-- //font-awesome icons CSS-->

        <!-- side nav css file -->
        <link href="{% static 'accounts/css/SidebarNav.min.css' %}" media="all" rel="stylesheet" type="text/css"/>
        <!-- //side nav css file -->

         <!-- js-->
        <script src="{% static 'accounts/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'accounts/js/modernizr.custom.js' %}"></script>

        <!--webfonts-->
        <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
        <!--//webfonts-->

        <!-- chart -->
        <script src="{% static 'accounts/js/Chart.js' %}"></script>
        <!-- //chart -->
        <link href="{% static 'accounts/js/sweetalert2.css' %}"  rel="stylesheet">
        <script src="{% static 'accounts/js/sweetalert2.all.js' %}"></script>
        <!-- Metis Menu -->
        <script src="{% static 'accounts/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'accounts/js/custom.js' %}"></script>
        <link href="{% static 'accounts/css/custom.css' %}" rel="stylesheet">
        <!--//Metis Menu -->
        <style>
        #chartdiv {
          width: 100%;
          height: 295px;
        }
        </style>
        <!--pie-chart --><!-- index page sales reviews visitors pie chart -->
        <script src="{% static 'accounts/js/pie-chart.js' %}" type="text/javascript"></script>
         <script type="text/javascript">

                $(document).ready(function () {
                    $('#demo-pie-1').pieChart({
                        barColor: '#2dde98',
                        trackColor: '#eee',
                        lineCap: 'round',
                        lineWidth: 8,
                        onStep: function (from, to, percent) {
                            $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                        }
                    });

                    $('#demo-pie-2').pieChart({
                        barColor: '#8e43e7',
                        trackColor: '#eee',
                        lineCap: 'butt',
                        lineWidth: 8,
                        onStep: function (from, to, percent) {
                            $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                        }
                    });

                    $('#demo-pie-3').pieChart({
                        barColor: '#ffc168',
                        trackColor: '#eee',
                        lineCap: 'square',
                        lineWidth: 8,
                        onStep: function (from, to, percent) {
                            $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                        }
                    });


                });

            </script>
        <!-- //pie-chart --><!-- index page sales reviews visitors pie chart -->

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

            <!-- requried-jsfiles-for owl -->
                            <link href="{% static 'accounts/css/owl.carousel.css' %}" rel="stylesheet">
                            <script src="{% static 'accounts/js/owl.carousel.js' %}"></script>
                                <script>
                                    $(document).ready(function() {
                                        $("#owl-demo").owlCarousel({
                                            items : 3,
                                            lazyLoad : true,
                                            autoPlay : true,
                                            pagination : true,
                                            nav:true,
                                        });
                                    });
                                </script>
                            <!-- //requried-jsfiles-for owl -->

                            <!-- map style-->
                           <style>
		#map {
			height: 100%;
		}
		/* Optional: Makes the sample page fill the window. */
		html, body {
			height: 100%;
			margin: 0;
			padding: 0;
		}

		/* styling of legend */
		#ts-map-legend {
		    background: #252525;
		    padding: 0px;
		    margin: 12px;
		    font-size: 12px;
		    font-family: Arial, sans-serif;
		    overflow: hidden;
		    text-align: left;
		    color: rgb(86, 86, 86);
		    font-family: Roboto,Arial,sans-serif;
		    -moz-user-select: none;
		    font-size: 11px;
		    background-color: #252525; padding: 8px;
		    border-radius: 2px;
		    background-clip: padding-box;
		    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
		    border-left: 0px none;
		}

		h3.ts-map-legend-headline{
		    margin:0 !important;
		    padding:0 !important;
		    background-color: yellow;
		    color:white;
		    text-align:center;
		}

		.ts-map-legend-color {
		    height: 12px;
		    width: 12px;
		    margin-right: 3px;
		    float: left;
		    border-radius: 12px;
		    color:white;
		}

		.ts-map-legend-color-red {
		    background: #FF0000;
		}

		.ts-map-legend-color-green {
		    background: #008000;

    }

	</style>
                            <!-- map style end -->
        </head>
<style>

</style>
<body  class="cbp-spmenu-push">
	<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		{% include "dashboard/navbar.html"  %}
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
			<div class="col_3">
        	<div class="col-md-3 widget widget1">
        		<div class="r3_counter_box">
                    <i class="pull-left fa fa-hdd icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>{{total_device}}</strong></h5>
                      <span>Total Devices</span>
                    </div>
                </div>
        	</div>
        	<div class="col-md-3 widget widget1">
        		<div class="r3_counter_box">
                    <i class="pull-left fa fas fa-map user1 icon-rounded"></i>
                    <div class="stats">
                        {% for e in cultivated_Area %}
                      <h5><strong>{{e.Cultivated_area}}</strong></h5>

                      <span>Cultivated Area</span>
                    </div>
                </div>
        	</div>
        	<div class="col-md-3 widget widget1">
        		<div class="r3_counter_box">
                    <i class="pull-left fa fas fa-map-marker-alt user2 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>{{e.latitude}}</strong></h5>
                      <span>Latitude</span>
                    </div>
                </div>
            </div>

        	<div class="col-md-3 widget widget1">
        		<div class="r3_counter_box">
                    <i class="pull-left fa fas fa-map-marker-alt dollar1 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>{{e.longitude}}</strong></h5>
                      <span>Longitude</span>
                    </div>
                </div>
        	 </div>
			 {% endfor %}
        	<div class="clearfix"> </div>
		</div>

			<!-- start content_slider -->

			</div>

		<!-- <div class="row-one widgettable">
			<div class="col-md-7 content-top-2 card">
				<div class="agileinfo-cdr">
					<div class="card-header">
                        <h3>Today's Scheduler</h3>
                    </div>

						<div id="Linegraph" style="width: 98%; height: 350px">
						</div>

				</div>
			</div> -->

			<!-- <div class="col-md-2 stat">
				<div class="content-top">
					<div class="top-content facebook">
						<a href="#"><i class="fa fa-facebook"></i></a>
					</div>
					<ul class="info">
						<li class="col-md-6"><b>1,296</b><p>Friends</p></li>
						<li class="col-md-6"><b>647</b><p>Likes</p></li>
						<div class="clearfix"></div>
					</ul>
				</div>
				<div class="content-top">
					<div class="top-content twitter">
						<a href="#"><i class="fa fa-twitter"></i></a>
					</div>
					<ul class="info">
						<li class="col-md-6"><b>1,997</b><p>Followers</p></li>
						<li class="col-md-6"><b>389</b><p>Tweets</p></li>
						<div class="clearfix"></div>
					</ul>
				</div>
				<div class="content-top">
					<div class="top-content google-plus">
						<a href="#"><i class="fa fa-google-plus"></i></a>
					</div>
					<ul class="info">
						<li class="col-md-6"><b>1,216</b><p>Followers</p></li>
						<li class="col-md-6"><b>321</b><p>shares</p></li>
						<div class="clearfix"></div>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div> -->
<!--
				 <div class="charts">
					<div class="col-md-4 charts-grids widget">
						<div class="card-header">
							<h3>Schedular chart</h3>
						</div>

						<div id="container" style="width: 100%; height:270px;">
							<canvas id="canvas"></canvas>
						</div>
						<button id="randomizeData">Randomize Data</button>
						<button id="addDataset">Add Dataset</button>
						<button id="removeDataset">Remove Dataset</button>
						<button id="addData">Add Data</button>
						<button id="removeData">Remove Data</button>

					</div>-->

					<div style="display: none;" class="col-md-4 charts-grids widget states-mdl">
						<div class="card-header">
							<h3>Schedular Graph</h3>
						</div>
						<div id="chartdiv"></div>
					</div>

					<div class="clearfix"> </div>
				</div>


	<!-- for amcharts js -->
			<script src="{% static 'accounts/js/amcharts.js' %}"></script>
			<script src="{% static 'accounts/js/serial.js' %}"></script>
			<script src="{% static 'accounts/js/export.min.js' %}"></script>
			<link rel="stylesheet" href="{% static 'accounts/css/export.css' %}" type="text/css" media="all" />
			<script src="{% static 'accounts/js/light.js' %}"></script>
	<!-- for amcharts js -->

    <script  src="{% static 'accounts/js/index1.js' %}"></script>
<!--
		<div class="charts">
			<br>
			<div class="mid-content-top charts-grids">
				<div class="middle-content">
						<h4 class="title">Rcai Irrigation</h4>

			</div>
		</div>-->

		<!-- <div class="col_1">
			<div class="col-md-4 span_8">
				<div class="activity_box">
					<h2>Inbox</h2>
					<div class="scrollbar" id="style-1">
						<div class="activity-row">
							<div class="col-xs-3 activity-img"><img src='images/1.jpg' class="img-responsive" alt=""/></div>
							<div class="col-xs-7 activity-desc">
								<h5><a href="#">Michael Chris</a></h5>
								<p>Hey ! There I'm available.</p>
							</div>
							<div class="col-xs-2 activity-desc1"><h6>12:05 PM</h6></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row">
							<div class="col-xs-3 activity-img"><img src='images/4.jpg' class="img-responsive" alt=""/></div>
							<div class="col-xs-7 activity-desc">
								<h5><a href="#">Alexander</a></h5>
								<p>Hey ! There I'm available.</p>
							</div>
							<div class="col-xs-2 activity-desc1"><h6>12:06 PM</h6></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row">
							<div class="col-xs-3 activity-img"><img src='images/3.jpg' class="img-responsive" alt=""/></div>
							<div class="col-xs-7 activity-desc">
								<h5><a href="#">Daniel Lucas</a></h5>
								<p>Hey ! There I'm available.</p>
							</div>
							<div class="col-xs-2 activity-desc1"><h6>01:30 PM</h6></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row">
							<div class="col-xs-3 activity-img"><img src='images/2.jpg' class="img-responsive" alt=""/></div>
							<div class="col-xs-7 activity-desc">
								<h5><a href="#">Jackson Jacob</a></h5>
								<p>Hey ! There I'm available.</p>
							</div>
							<div class="col-xs-2 activity-desc1"><h6>01:50 PM</h6></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row">
							<div class="col-xs-3 activity-img"><img src='images/1.jpg' class="img-responsive" alt=""/></div>
							<div class="col-xs-7 activity-desc">
								<h5><a href="#">David Samuel</a></h5>
								<p>Hey ! There I'm available.</p>
							</div>
							<div class="col-xs-2 activity-desc1"><h6>12:20 PM</h6></div>
							<div class="clearfix"> </div>
						</div>

						<div class="activity-row">
							<div class="col-xs-3 activity-img"><img src='images/4.jpg' class="img-responsive" alt=""/></div>
							<div class="col-xs-7 activity-desc">
								<h5><a href="#">laura Smith</a></h5>
								<p>Hey ! There I'm available.</p>
							</div>
							<div class="col-xs-2 activity-desc1"><h6>12:50 PM</h6></div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<form action="#" method="post">
						<input type="text" value="Enter your text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your text';}" required="">
						<input type="submit" value="Submit"/>
					</form>
				</div>
			</div>-->
<style>

.container {
	background-size: cover;
  background: rgb(226,226,226); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  padding: 20px;
}

.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;
  float: left;
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}

.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}

.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

@-webkit-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}

.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-blue {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}
hr{

    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         100vh;
    width:          1px;
}
</style>
<script>
	$( function() {
  var $winHeight = $( window ).height()
  $( '.container' ).height( $winHeight );
});
</script>
			<br><br>
			<div style="position: relative;top: -28px;display: none;" class="row-one widgettable">
					<div class="col-md-12 content-top-2 card">

						<div class="agileinfo-cdr">
								<div class="led-red pull-left"></div> &nbsp; &nbsp;
							<div  class="card-header">
								<i class="fa far fa-comments"><strong>&nbsp; Live Chat</strong></i><button style="background-color: rgb(122, 162, 236)" class="btn btn-danger pull-right" data-toggle="collapse" data-target="#chat">Activate Chat</button>

							</div>
						</div>

					</div>
				</div>
			<br><br>
		<div id="chatbox" style="box-shadow: 1px 2px 99px -10px rgba(173,200,240,1);display: none;" class="jumbotron well ">
				<div id="chat" class=" animated fadeIn slowest">



			<div id="chatbox" class="col-md-4 span_8  col-md-push-1">
				<div class="activity_box activity_box1">
					<h3>Chat</h3>
					<div class="scrollbar" id="style-3">
						<div class="activity-row activity-row1">
							<div class="col-xs-3 activity-img"><img src='images/1.jpg' class="img-responsive" alt=""/><span>06:01 AM</span></div>
							<div class="col-xs-5 activity-img1">
								<div class="activity-desc-sub">
									<h5>Michael Chris</h5>
									<p>Hello ! this is Michael chris</p>
								</div>
							</div>
							<div class="col-xs-4 activity-desc1"></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row activity-row1">
							<div class="col-xs-2 activity-desc1"></div>
							<div class="col-xs-7 activity-img2">
								<div class="activity-desc-sub1">
									<h5>Alexander</h5>
									<p>Hi,How are you ? What about our next meeting?</p>
								</div>
							</div>
							<div class="col-xs-3 activity-img"><img src='images/3.jpg' class="img-responsive" alt=""/><span>06:02 AM</span></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row activity-row1">
							<div class="col-xs-3 activity-img"><img src='images/1.jpg' class="img-responsive" alt=""/><span>06:05 AM</span></div>
							<div class="col-xs-5 activity-img1">
								<div class="activity-desc-sub">
									<h5>Michael Chris</h5>
									<p>Yeah fine, Hope you the same</p>
								</div>
							</div>
							<div class="col-xs-4 activity-desc1"></div>
							<div class="clearfix"> </div>
						</div>
						<div  class="activity-row activity-row1">
							<div  class="col-xs-2 activity-desc1"></div>
							<div  class="col-xs-7 activity-img2">
								<div style="background-color: rgb(229, 228, 230)"  class="activity-desc-sub1">
									<h5>Alexander</h5>
									<p>Wow that's great</p>
								</div>
							</div>
							<div class="col-xs-3 activity-img"><img src='images/3.jpg' class="img-responsive" alt=""/><span>06:20 PM</span></div>
							<div class="clearfix"> </div>
						</div>
						<div class="activity-row activity-row1">
							<div class="col-xs-2 activity-desc1"></div>
							<div class="col-xs-7 activity-img2">
								<div class="activity-desc-sub1">
									<h5>Danial</h5>
									<p>Hi,How are you ? What about our next meeting?</p>
								</div>
							</div>
							<div class="col-xs-3 activity-img"><img src='images/3.jpg' class="img-responsive" alt=""/><span>06:02 AM</span></div>
							<div class="clearfix"> </div>
						</div>
					</div>
					 <form id="chat_box" action="" method="POST">
						 {% csrf_token %}
						<input id="input_message"  name="chatinput" type="text" placeholder="Enter your text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your text';}" required="">
						<input id="btn_1" type="submit"   value="Send"/>
					</form>
					<script>
					function message_sent()
					{
const toast = swal.mixin({
  toast: true,
  position: 'top-left',
  showConfirmButton: false,
  timer: 3000
});

toast({
  type: 'success',
  title: 'message sent'
});
					}
					</script>
					<script>
							$(function() {
    $("#chat_box").submit(function(event) {
        // Stop form from submitting normally
        event.preventDefault();
        var friendForm = $(this);
        // Send the data using post
        var posting = $.post( friendForm.attr('action'), friendForm.serialize() );
        // if success:
        posting.done(function(data) {
            // success actions, maybe change submit button to 'friend added' or whatever
			document.getElementById('input_message').value = '';
			message_sent();

        });
        // if failure:
        posting.fail(function(data) {
            // 4xx or 5xx response, alert user about failure
			swal('not sent')
        });
    });
});
						</script>
				</div>
			</div>
			<div id="banner" class="col-md-4 span_8 col-md-push-3">
				<div class="activity_box activity_box2  ">
					<h3>News</h3>
					<div class="scrollbar" id="style-2">
						<div class="activity-row activity-row1">
							<div class="single-bottom">
								<ul>
									<li>
										<input type="checkbox"  id="brand" value="">
										<label for="brand"><span></span> Integer sollicitudin lacinia condimentum.</label>
									</li>
									<li>
										<input type="checkbox"  id="brand1" value="">
										<label for="brand1"><span></span> ligula sit amet hendrerit init lorem.</label>
									</li>
									<li>
										<input type="checkbox"  id="brand2" value="">
										<label for="brand2"><span></span>  Donec aliquam dolor eu augue condimentum.</label>
									</li>
									<li>
										<input type="checkbox"  id="brand9" value="">
										<label for="brand9"><span></span>  at tristique Pain that produces no resultant.</label>
									</li>
									<li>
										<input type="checkbox"  id="brand8" value="">
										<label for="brand8"><span></span> Nulla finibus rhoncus turpis quis tristique.</label>
									</li>
									<li>
										<input type="checkbox"  id="brand7" value="">
										<label for="brand7"><span></span> Cupidatat non proident Praising pain.</label>
									</li>
									<li>
										<input type="checkbox"  id="brand3" value="">
										<label for="brand3"><span></span>  libero vel elementum euismod, mauris tellus</label>
									</li>
									<li>
										<input type="checkbox"  id="brand4" value="">
										<label for="brand4"><span></span> Donec aliquam dolor eu augue condimentum.</label>
									</li>
									<li>
										<input type="checkbox"  id="brand5" value="">
										<label for="brand5"><span></span> Orci varius natoque penatibus et magnis dis.</label>
									</li>
									<li>
										<input type="checkbox"  id="brand6" value="">
										<label for="brand6"><span></span> parturient Dolorem ipsum quia.</label>
									</li>


								</ul>
							</div>
						</div>
					</div>
					 <form  action="#" method="post">
						<input name="chat-input" type="text" value="Enter your text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your text';}" required="">
 						<input  id="button" type="submit" value="Submit"/>

					</form>


				</div>


			</div>

		</div>
		</div>
		</div>


					<!--//sreen-gallery-cursual---->

					<!-- map work start -->

<div id="map"></div>
<script type="text/javascript">
function initMap(){
   var locations = [

{% for point in device %}

        ['Device',{{ point.Latitude }}, {{ point.longitude }},{{point.Device_ID}}],

{% endfor%}
]


{% for db in farmer %}
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom:18,
      center: new google.maps.LatLng({{db.latitude}}, {{db.longitude}}),
      mapTypeId: google.maps.MapTypeId.SATELLITE
    });

{% endfor %}
    // creating legend in map
    var legend = document.createElement('div');
	legend.id = 'ts-map-legend';

	//plug in vars for each slot replace as needed
	{% for db in farmer %}
	var tsMapLegendTxtSlot1 = '{{db.Address}}';
	var tsMapLegendTxtSlot2 = 'WATER REQUIRED';
	var tsMapLegendTxtSlot3 = 'SUFFICIENT WATER';
	{% endfor %}

	//assemble html and place in var
	var content = [];
	content.push('<h3 class="ts-map-legend-headline" style="color:black">LEGEND</h3>');

	content.push('<p style="font-size:12px;font-family:Serif;color:white">'+tsMapLegendTxtSlot1+'</p>');
	content.push('<h5 style="color:white"><div class="ts-map-legend-color ts-map-legend-color-red"></div>'+tsMapLegendTxtSlot2+'</h5>');
	content.push('<h5 style="color:white"><div class="ts-map-legend-color ts-map-legend-color-green"></div>'+tsMapLegendTxtSlot3+'</h5>');
	legend.innerHTML = content.join('');
	legend.index = 1;
	map.controls[google.maps.ControlPosition.LEFT_BOTTOM].push(legend);


    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    var contentString =[];

   {% for db2 in input %}

    var html = '<div style="width:150px;height:200px;background-color:#252525;"><div id="content" style="color:white;background-color:#252525;"><h1>Device:{{db2.Device_ID_clone}}</h1><p>TEMP: {{db2.temperature}}C</p><p>HUMIDITY: {{db2.humidity}}%</p><p>HEAT INDEX: {{db2.heat_index}}C</p><p>SOIL MOISTURE: {{db2.soil_moisture}}%</p></div></div>';

contentString.push(html);

{% endfor %}


 var contentString2 =[];
 {% for i in need %}
 var html2 ='<style>.flashing_effect{background:#FF0000;border-radius: 200px;padding:7px 7px;animation-name:flashing;animation-duration:1s;animation-timing-function: linear;animation-iteration-count: infinite;}.flash{background:#008000;border-radius: 200px;padding:7px 7px;animation-name:flashing;animation-duration:1s;animation-timing-function: linear;animation-iteration-count: infinite;}@keyframes flashing{0%{opacity:1.0;}50%{opacity:0.3;}100%{opacity:1.0;}}</style><div class=wrapper>{% if i  == 'YES' %}<button class ="flashing_effect"></button>{% else %} <button class ="flash"></button>{% endif %}</div>';
contentString2.push(html2);
{% endfor %}


//var contentString = ['<div style="width:150px;height:200px;background-color:#252525;"><div id="content" style="color:white;background-color:#252525;"><h1>Device 1</h1><p>TEMP: 48.44 C</p><p>HUMIDITY: 43.2</p><p>HEAT INDEX: 75 C</p><p>SOIL MOISTURE: 74 %</p><p style="font-size:12px">SIGNAL STRENGTH: 69dBm</p></div><style>.flashing_effect{background:#FF0000;border-radius: 200px;padding:7px 7px;animation-name:flashing;animation-duration:1s;animation-timing-function: linear;animation-iteration-count: infinite;}.flash{background:#008000;border-radius: 200px;padding:7px 7px;animation-name:flashing;animation-duration:1s;animation-timing-function: linear;animation-iteration-count: infinite;}@keyframes flashing{0%{opacity:1.0;}50%{opacity:0.3;}100%{opacity:1.0;}}</style></div><div class=wrapper><button class ="flashing_effect"></button> <button class ="flash"></button></div>','<div style="width:150px;height:200px;background-color:#252525;"><div id="content" style="color:white;background-color:#252525;"><h1>Device 2</h1><p>TEMP: 49 C</p><p>HUMIDITY: 33</p><p>HEAT INDEX: 81 C</p><p>SOIL MOISTURE: 82.11 %</p><p style="font-size:12px">SIGNAL STRENGTH: 71dBm</p></div><style>.flashing_effect{background:#FF0000;border-radius: 200px;padding:7px 7px;animation-name:flashing;animation-duration:1s;animation-timing-function: linear;animation-iteration-count: infinite;}.flash{background:#008000;border-radius: 200px;padding:7px 7px;animation-name:flashing;animation-duration:1s;animation-timing-function: linear;animation-iteration-count: infinite;}@keyframes flashing{0%{opacity:1.0;}50%{opacity:0.3;}100%{opacity:1.0;}}</style></div><div class=wrapper><button class ="flashing_effect"></button> <button class ="flash"></button></div>','<div style="width:150px;height:200px;background-color:#252525;"><div id="content" style="color:white;background-color:#252525;"><h1>Device 3</h1><p>TEMP: 50 C</p><p>HUMIDITY: 45</p><p>HEAT INDEX: 87 C</p><p>SOIL MOISTURE: 62 %</p><p style="font-size:12px">SIGNAL STRENGTH: 77dBm</p></div><style>.flashing_effect{background:#FF0000;border-radius: 200px;padding:7px 7px;animation-name:flashing;animation-duration:1s;animation-timing-function: linear;animation-iteration-count: infinite;}.flash{background:#008000;border-radius: 200px;padding:7px 7px;animation-name:flashing;animation-duration:1s;animation-timing-function: linear;animation-iteration-count: infinite;}@keyframes flashing{0%{opacity:1.0;}50%{opacity:0.3;}100%{opacity:1.0;}}</style></div><div class=wrapper><button class ="flashing_effect"></button> <button class ="flash"></button></div>'];

    for (i = 0; i < locations.length; i++) {

      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        animation: google.maps.Animation.BOUNCE

      });

      google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
        return function() {
          infowindow.setContent(contentString[i].concat(contentString2[i]));

          infowindow.open(map, marker);
        }
      })(marker, i));
      google.maps.event.addListener(marker, 'mouseout', (function(marker, i) {
        return function() {

          infowindow.close(map, marker);
        }
      })(marker, i));


    }

}
</script>
<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxaxJikgSmMFiCb2Mhabid1jurQz3nXes&callback=initMap">
</script>
					<!-- map work end -->
<br/>
<br/>
			</div>
		</div>
		<div id="owl-demo" class="owl-carousel text-center">
					<div class="item">
						<img class="lazyOwl img-responsive" data-src="{% static 'accounts/images/slider1.jpg' %}" alt="name">
					</div>
					<div class="item">
						<img class="lazyOwl img-responsive" data-src="{% static 'accounts/images/slider2.jpg' %}" alt="name">
					</div>
					<div class="item">
						<img class="lazyOwl img-responsive" data-src="{% static 'accounts/images/slider3.jpg' %}" alt="name">
					</div>
					<div class="item">
						<img class="lazyOwl img-responsive" data-src="{% static 'accounts/images/slider4.jpg' %}" alt="name">
					</div>
					<div class="item">
						<img class="lazyOwl img-responsive" data-src="{% static 'accounts/images/slider5.jpg' %}" alt="name">
					</div>
					<div class="item">
						<img class="lazyOwl img-responsive" data-src="{% static 'accounts/images/slider6.jpg' %}" alt="name">
					</div>
					<div class="item">
						<img class="lazyOwl img-responsive" data-src="{% static 'accounts/images/slider7.jpg' %}" alt="name">
					</div>

				</div>
	<!--footer-->
	<div class="footer">
	   <p>&copy; 2018 Aqua-Agro Dashboard. All Rights Reserved | Design by <a href="" target="_blank">{{company}}</a></p>
	</div>
    <!--//footer-->
	</div>

	<!-- new added graphs chart js-->

    <script src="{% static 'accounts/js/Chart.bundle.js' %}"></script>
    <script src="{% static 'accounts/js/utils.js' %}"></script>

	<script>
        var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var color = Chart.helpers.color;
        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: 'Dataset 1',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }, {
                label: 'Dataset 2',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }]

        };

        window.onload = function() {
			dashbaord_page_info();
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart'
                    }
                }
            });

        };

        document.getElementById('randomizeData').addEventListener('click', function() {
            var zero = Math.random() < 0.2 ? true : false;
            barChartData.datasets.forEach(function(dataset) {
                dataset.data = dataset.data.map(function() {
                    return zero ? 0.0 : randomScalingFactor();
                });

            });
            window.myBar.update();
        });

        var colorNames = Object.keys(window.chartColors);
        document.getElementById('addDataset').addEventListener('click', function() {
            var colorName = colorNames[barChartData.datasets.length % colorNames.length];;
            var dsColor = window.chartColors[colorName];
            var newDataset = {
                label: 'Dataset ' + barChartData.datasets.length,
                backgroundColor: color(dsColor).alpha(0.5).rgbString(),
                borderColor: dsColor,
                borderWidth: 1,
                data: []
            };

            for (var index = 0; index < barChartData.labels.length; ++index) {
                newDataset.data.push(randomScalingFactor());
            }

            barChartData.datasets.push(newDataset);
            window.myBar.update();
        });

        document.getElementById('addData').addEventListener('click', function() {
            if (barChartData.datasets.length > 0) {
                var month = MONTHS[barChartData.labels.length % MONTHS.length];
                barChartData.labels.push(month);

                for (var index = 0; index < barChartData.datasets.length; ++index) {
                    //window.myBar.addData(randomScalingFactor(), index);
                    barChartData.datasets[index].data.push(randomScalingFactor());
                }

                window.myBar.update();
            }
        });

        document.getElementById('removeDataset').addEventListener('click', function() {
            barChartData.datasets.splice(0, 1);
            window.myBar.update();
        });

        document.getElementById('removeData').addEventListener('click', function() {
            barChartData.labels.splice(-1, 1); // remove the label first

            barChartData.datasets.forEach(function(dataset, datasetIndex) {
                dataset.data.pop();
            });

            window.myBar.update();
        });
    </script>
	<!-- new added graphs chart js-->

	<!-- Classie --><!-- for toggle left push menu script -->
		<script src="{% static 'accounts/js/classie.js' %}"></script>
		<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				body = document.body;

			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};


			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
			}
		</script>
	<!-- //Classie --><!-- //for toggle left push menu script -->

	<!--scrolling js-->
	<script src="{% static 'accounts/js/jquery.nicescroll.js' %}"></script>
	<script src="{% static 'accounts/js/scripts.js' %}"></script>
	<!--//scrolling js-->

	<!-- side nav js -->
	<script src="{% static 'accounts/js/SidebarNav.min.js' %}" type="text/javascript"></script>
	<script>
      $('.sidebar-menu').SidebarNav()
    </script>
	<!-- //side nav js -->

	<!-- for index page weekly sales java script -->
	<script src="{% static 'accounts/js/SimpleChart.js' %}"></script>
    <script>
        var graphdata1 = {
            linecolor: "#CCA300",
            title: "Monday",
            values: [
            { X: "6:00", Y: 10.00 },
            { X: "7:00", Y: 20.00 },
            { X: "8:00", Y: 40.00 },
            { X: "9:00", Y: 34.00 },
            { X: "10:00", Y: 40.25 },
            { X: "11:00", Y: 28.56 },
            { X: "12:00", Y: 18.57 },
            { X: "13:00", Y: 34.00 },
            { X: "14:00", Y: 40.89 },
            { X: "15:00", Y: 12.57 },
            { X: "16:00", Y: 28.24 },
            { X: "17:00", Y: 18.00 },
            { X: "18:00", Y: 34.24 },
            { X: "19:00", Y: 40.58 },
            { X: "20:00", Y: 12.54 },
            { X: "21:00", Y: 28.00 },
            { X: "22:00", Y: 18.00 },
            { X: "23:00", Y: 34.89 },
            { X: "0:00", Y: 40.26 },
            { X: "1:00", Y: 28.89 },
            { X: "2:00", Y: 18.87 },
            { X: "3:00", Y: 34.00 },
            { X: "4:00", Y: 40.00 }
            ]
        };
        var graphdata2 = {
            linecolor: "#00CC66",
            title: "Tuesday",
            values: [
              { X: "6:00", Y: 100.00 },
            { X: "7:00", Y: 120.00 },
            { X: "8:00", Y: 140.00 },
            { X: "9:00", Y: 134.00 },
            { X: "10:00", Y: 140.25 },
            { X: "11:00", Y: 128.56 },
            { X: "12:00", Y: 118.57 },
            { X: "13:00", Y: 134.00 },
            { X: "14:00", Y: 140.89 },
            { X: "15:00", Y: 112.57 },
            { X: "16:00", Y: 128.24 },
            { X: "17:00", Y: 118.00 },
            { X: "18:00", Y: 134.24 },
            { X: "19:00", Y: 140.58 },
            { X: "20:00", Y: 112.54 },
            { X: "21:00", Y: 128.00 },
            { X: "22:00", Y: 118.00 },
            { X: "23:00", Y: 134.89 },
            { X: "0:00", Y: 140.26 },
            { X: "1:00", Y: 128.89 },
            { X: "2:00", Y: 118.87 },
            { X: "3:00", Y: 134.00 },
            { X: "4:00", Y: 180.00 }
            ]
        };
        var graphdata3 = {
            linecolor: "#FF99CC",
            title: "Wednesday",
            values: [
              { X: "6:00", Y: 230.00 },
            { X: "7:00", Y: 210.00 },
            { X: "8:00", Y: 214.00 },
            { X: "9:00", Y: 234.00 },
            { X: "10:00", Y: 247.25 },
            { X: "11:00", Y: 218.56 },
            { X: "12:00", Y: 268.57 },
            { X: "13:00", Y: 274.00 },
            { X: "14:00", Y: 280.89 },
            { X: "15:00", Y: 242.57 },
            { X: "16:00", Y: 298.24 },
            { X: "17:00", Y: 208.00 },
            { X: "18:00", Y: 214.24 },
            { X: "19:00", Y: 214.58 },
            { X: "20:00", Y: 211.54 },
            { X: "21:00", Y: 248.00 },
            { X: "22:00", Y: 258.00 },
            { X: "23:00", Y: 234.89 },
            { X: "0:00", Y: 210.26 },
            { X: "1:00", Y: 248.89 },
            { X: "2:00", Y: 238.87 },
            { X: "3:00", Y: 264.00 },
            { X: "4:00", Y: 270.00 }
            ]
        };
        var graphdata4 = {
            linecolor: "Random",
            title: "Thursday",
            values: [
              { X: "6:00", Y: 300.00 },
            { X: "7:00", Y: 410.98 },
            { X: "8:00", Y: 310.00 },
            { X: "9:00", Y: 314.00 },
            { X: "10:00", Y: 310.25 },
            { X: "11:00", Y: 318.56 },
            { X: "12:00", Y: 318.57 },
            { X: "13:00", Y: 314.00 },
            { X: "14:00", Y: 310.89 },
            { X: "15:00", Y: 512.57 },
            { X: "16:00", Y: 318.24 },
            { X: "17:00", Y: 318.00 },
            { X: "18:00", Y: 314.24 },
            { X: "19:00", Y: 310.58 },
            { X: "20:00", Y: 312.54 },
            { X: "21:00", Y: 318.00 },
            { X: "22:00", Y: 318.00 },
            { X: "23:00", Y: 314.89 },
            { X: "0:00", Y: 310.26 },
            { X: "1:00", Y: 318.89 },
            { X: "2:00", Y: 518.87 },
            { X: "3:00", Y: 314.00 },
            { X: "4:00", Y: 310.00 }
            ]
        };
        var Piedata = {
            linecolor: "Random",
            title: "Profit",
            values: [
              { X: "Monday", Y: 50.00 },
            { X: "Tuesday", Y: 110.98 },
            { X: "Wednesday", Y: 70.00 },
            { X: "Thursday", Y: 204.00 },
            { X: "Friday", Y: 80.25 },
            { X: "Saturday", Y: 38.56 },
            { X: "Sunday", Y: 98.57 }
            ]
        };
        $(function () {
            $("#Bargraph").SimpleChart({
                ChartType: "Bar",
                toolwidth: "50",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: true,
                data: [graphdata4, graphdata3, graphdata2, graphdata1],
                legendsize: "140",
                legendposition: 'bottom',
                xaxislabel: 'Hours',
                title: 'Weekly Profit',
                yaxislabel: 'Profit in $'
            });
            $("#sltchartype").on('change', function () {
                $("#Bargraph").SimpleChart('ChartType', $(this).val());
                $("#Bargraph").SimpleChart('reload', 'true');
            });
            $("#Hybridgraph").SimpleChart({
                ChartType: "Hybrid",
                toolwidth: "50",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: true,
                data: [graphdata4],
                legendsize: "140",
                legendposition: 'bottom',
                xaxislabel: 'Hours',
                title: 'Weekly Profit',
                yaxislabel: 'Profit in $'
            });
            $("#Linegraph").SimpleChart({
                ChartType: "Line",
                toolwidth: "50",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: false,
                data: [graphdata4, graphdata3, graphdata2, graphdata1],
                legendsize: "140",
                legendposition: 'bottom',
                xaxislabel: 'Hours',
                title: 'Soil Moisture',
                yaxislabel: 'Wind speed'
            });
            $("#Areagraph").SimpleChart({
                ChartType: "Area",
                toolwidth: "50",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: true,
                data: [graphdata4, graphdata3, graphdata2, graphdata1],
                legendsize: "140",
                legendposition: 'bottom',
                xaxislabel: 'Hours',
                title: 'Weekly Profit',
                yaxislabel: 'Profit in $'
            });
            $("#Scatterredgraph").SimpleChart({
                ChartType: "Scattered",
                toolwidth: "50",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: true,
                data: [graphdata4, graphdata3, graphdata2, graphdata1],
                legendsize: "140",
                legendposition: 'bottom',
                xaxislabel: 'Hours',
                title: 'Weekly Profit',
                yaxislabel: 'Profit in $'
            });
            $("#Piegraph").SimpleChart({
                ChartType: "Pie",
                toolwidth: "50",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: true,
                showpielables: true,
                data: [Piedata],
                legendsize: "250",
                legendposition: 'right',
                xaxislabel: 'Hours',
                title: 'Weekly Profit',
                yaxislabel: 'Profit in $'
            });

            $("#Stackedbargraph").SimpleChart({
                ChartType: "Stacked",
                toolwidth: "50",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: true,
                data: [graphdata3, graphdata2, graphdata1],
                legendsize: "140",
                legendposition: 'bottom',
                xaxislabel: 'Hours',
                title: 'Weekly Profit',
                yaxislabel: 'Profit in $'
            });

            $("#StackedHybridbargraph").SimpleChart({
                ChartType: "StackedHybrid",
                toolwidth: "50",
                toolheight: "25",
                axiscolor: "#E6E6E6",
                textcolor: "#6E6E6E",
                showlegends: true,
                data: [graphdata3, graphdata2, graphdata1],
                legendsize: "140",
                legendposition: 'bottom',
                xaxislabel: 'Hours',
                title: 'Weekly Profit',
                yaxislabel: 'Profit in $'
            });
        });

	</script>
	<script>
		function dashbaord_page_info()
		{

			const toast = swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 3000
});

toast({
  type: 'success',
  title: 'Signed in successfully'
})
		}
	</script>
	<!-- //for index page weekly sales java script -->


	<!-- Bootstrap Core JavaScript -->
   <script src="{% static 'accounts/js/bootstrap.js' %}"> </script>
	<!-- //Bootstrap Core JavaScript -->

</body>
</html>